* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;

}

body {
    background: linear-gradient(60deg, #ffadad, #fdffb6);
    background-size: cover;
}

/*start - navbar css*/
.header {
    padding: 1%;
}

.navbar {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    font-size: 15px;
    color: black;
}

.navbar a {
    text-decoration: none;
    margin: 10px;
    color: black;
}

.navbar img {
    margin-right: 20%;
    margin-left: 30%;
}

/* start - navbar icons */
.list {
    list-style-type: none;
}

.list,
.list-items {
    margin-left: auto;
    display: inline-block;
}

.menu {
    color: rgb(73, 15, 245);
}

/* end */

/* start - responsiveness of navbar */
@media all and (max-width: 540px) {
    .logo {
        position: absolute;
        top: 2%;
        left: 3%;
    }

    .menu {
        top: 1%;
        right: 1%;
        position: absolute;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .list .list-items {
        width: 100%;
        margin-bottom: 5%;
    }

    .form {
        flex-direction: column;
    }

    .bottom {
        font-size: 10px;
    }
}

/* end */

/*start - body*/

.body {
    margin: auto;
    width: 50%;
    height: 87.9vh;
    overflow: hidden;
}

/* start - container of login css*/
.wrapper {
    display: flex;
    position: relative;
    top: 2%;
    height: 80vh;
}

/* start - container of text css */

.overlay {
    padding: 2%;
}

.overlay h1 {
    margin: 5% 0% 2% 0%;
    font-size: 8vmax;
    line-height: 1;
}

.overlay h5 {
    margin: 2% 0% 0% 0%;
}

.overlay p {
    margin: 5% 0% 5% 0%;
}

/* end */

/* start - login using css */

.alternate {
    text-align: center;
    margin: 4%;
    font-size: 25px;
}

.alternate img {
    width: 50px;
    margin:0px 15px;
}

.alternate h4 {
    margin: 2%;
}
/* end */

/* start - right side of login */

.right {
    width: 100%;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.right h1 {
    position: relative;
    top: 10%;
    text-align: center;
    margin: 2%;
}

/* start - form css */
.form {
    position: relative;
    top: 25%;
    text-align: center;
}

.form .bottom {
    display: flex;
    font-weight: 900;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

/* register css */
.reg a {
    text-decoration: none;
    color: purple;
}
.reg{
    letter-spacing: 2px;
}

/* start - input element css */
.in .input {
    width: 80%;
    height: 40px;
    margin: 1%;
    padding: 8px;
    border: none;
    font-size: 15px;
    background: none;
    transition: 1s;
    position: relative;
}

/* end */

/* start of -input  */
.in1,
.in2 {
    border-bottom: 2px solid #ccc;
    margin: auto;
    width: 90%;
}

/* end */
.in label {
    vertical-align: -6px;
}

.in {
    margin-bottom: 5%;
}

/* start - forgot password css */
.forgot {
    margin-left: auto;
    text-decoration: none;
    color: black;
}

.forgot:after {
    content: '';
    display: block;
    margin: auto;
    margin-top: 2%;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.forgot:hover:after {
    color: purple;
    width: 100%;
    background: black;
}

/* end */

/* start - submit button css */
.btn {
    padding: 15px;
    width: 90%;
    border-radius: 1px;
    background: #f1f1f1;
    transition: .2s ease-in;
    letter-spacing: 1px;
    border: 1px solid black;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
}

/* end */